section {
  display: flex;
  flex-direction: column;
  border: 3px dotted "red";
  margin: 0 auto;
  width:50vw;
}
article {
  background-color: black;
  height: 300px;
  // outline: 3px dotted "red";
  width: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  background-color: white;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
margin:0 auto;
}
p {
  font-size: 72px;
  font-family: Impact;
  color: #db0909;
}
